.footer {
    background: #1E1E1E;
    &__top {
        padding: 60px 0;
        display: flex;
        justify-content: space-between;
        border-bottom: .5px solid #B1B1B1;
        @media(max-width: 992px) {
            padding: 30px 0;
        }
        @media(max-width: 768px) {
            flex-direction: column;
        }
    }
    &__left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-right: 100px;
        @media(max-width: 1400px) {
            padding-right: 70px;
        }
        @media(max-width: 1200px) {
            padding-right: 20px;
        }
        @media(max-width: 768px) {
            width: 100%;
        }
    }
    &__logo {
        width: 170px;
        @media(max-width: 768px) {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
        a {
            display: block;
            margin-bottom: 30px;
            &:nth-child(2) {
                img {
                    max-width: 100px;
                }
            }
        }
    }
    &__gov {
        color: rgba(255, 255, 255, 0.72);
        font-variant-numeric: lining-nums tabular-nums;
        font-family: "Source Sans 3", serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 19.2px */
    }
    &__menu {
        display: flex;
        flex-direction: column;
        @media(max-width: 1200px) {
            max-width: 260px;
        }
        @media(max-width: 768px) {
            width: 100%;
            margin: 24px 0;
        }
        a {
            color: var(--white, #FFF);
            font-variant-numeric: lining-nums tabular-nums;
            font-family: 'MuseoSansCyrillic', sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%; /* 25.2px */
            margin-bottom: 12px;
            white-space: nowrap;
            &:hover {
                color: #fab130;
            }
            @media(max-width: 1200px) {
                white-space:unset; 
            }
            @media(max-width: 992px) {
                font-size: 16px;
            }
        }
    }
    &__serv {
        display: flex;
        flex-direction: column;
        width: 255px;
        @media(max-width: 1400px) {
            margin: 0 20px;
        }
        @media(max-width: 768px) {
            margin: 0;
            width: 100%;
        }
        a {
            color: var(--white, #FFF);
            font-variant-numeric: lining-nums tabular-nums;
            font-family: "Source Sans 3", serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%; /* 21.6px */
            margin-bottom: 12px;
            &:hover {
                color: #fab130;
            }
            &.footer__serv--title {
                font-weight: 600;
                &:hover {
                    color: #fab130;
                }
            }
            @media(max-width: 992px) {
                font-size: 16px;
            }
        }
    }
    &__right {
        @media(max-width: 768px) {
            margin-top: 24px;
        }
    }
    &__item {
        display: flex;
        margin-bottom: 24px;
        img {
            width: 24px;
            height: 24px;
            margin-right: 12px;
        }
        p {
            color: var(--white, #FFF);
            font-variant-numeric: lining-nums tabular-nums;
            font-family: 'MuseoSansCyrillic', sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%; 
            @media(max-width: 768px) {
                font-size: 16px;
            }
        }
    }
    &__call {
        align-items: end;
        &--text {
            display: flex;
            flex-direction: column;
            span {
                color: var(--light-grey, #B1B1B1);
                font-variant-numeric: lining-nums tabular-nums;
                font-family: "Source Sans 3", serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 120%; /* 19.2px */
                margin-bottom: 6px;
            }
            a {
                color: var(--white, #FFF);
                font-variant-numeric: lining-nums tabular-nums;
                font-family: 'MuseoSansCyrillic', sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 140%;
                @media(max-width: 768px) {
                    font-size: 16px;
                }
            }
        }
    }
    &__mail {
        a {
            color: var(--white, #FFF);
            font-variant-numeric: lining-nums tabular-nums;
            font-family: 'MuseoSansCyrillic', sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%; 
            @media(max-width: 768px) {
                font-size: 16px;
            }
        }
    }
    &__bot {
        padding: 24px 0;
        display: flex;
        justify-content: space-between;
        @media(max-width: 992px) {
            display: flex;
            flex-wrap: wrap;
        }
        &--right {
            display: flex;
            align-items: center;
            gap: 45px;
            @media(max-width: 576px) {
                gap: 15px;
            }
            @media(max-width: 992px) {
                margin-top: 20px;
                width: 100%;
                justify-content: space-between;
            }
            @media(max-width: 576px) {
                flex-direction: column;
                justify-content: start;
                align-items: start;
            }
            a {
                color: var(--light-grey, #B1B1B1);
                font-variant-numeric: lining-nums tabular-nums;
                font-family: "Source Sans 3", serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%; /* 19.2px */
            }
        }
    }
    &__lang {
        &--hidden {
            display: none;
        }
        &--drop {
            top: -130px;
        }
        &--current {
            &:hover {
                .dropy {
                    transform: rotate(180deg);
                }
            }
        }
    }
    &__law {
        color: var(--light-grey, #B1B1B1);
        font-variant-numeric: lining-nums tabular-nums;
        font-family: "Source Sans 3", serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; 
        @media(max-width: 576px) {
            width: 100%;
            margin-top: 12px;
        }
    }
    &__made {
        display: flex;
        align-items: center;
        p {
            color: var(--light-grey, #B1B1B1);
            font-variant-numeric: lining-nums tabular-nums;
            font-family: "Source Sans 3", serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%; /* 19.2px */
            margin-right: 12px;
        }
    }
}