* {
  box-sizing: border-box;
}
html, body { height: 100%;}
body { 
  margin: 0; 
  font-family: "Montserrat", sans-serif; 
  background: #F5F5F7;  
}
:root {
  --black: #242624;
  --white: #fff;
  --blue: #295481;
}
.main {
  padding-top: 104px;
  position: relative;
}
.container {
  max-width: 1360px;
  margin: 0 auto;
  --bs-gutter-x: 0rem;

  @media (max-width: 1400px) {
    max-width: 1180px;
  }

  @media (max-width: 1200px) {
    max-width: 960px;
  }

  @media (max-width: 992px) {
    max-width: 750px;
  }

  @media (max-width: 768px) {
    max-width: 560px;
  }

  @media (max-width: 576px) {
    max-width: 100%;
    margin: 0 20px;
  }
}

