* {
  box-sizing: border-box;
}
html, body { height: 100%;}
body { 
  margin: 0; 
  font-family: "Montserrat", sans-serif; 
  background: #F5F5F7;  
}
:root {
  --black: #242624;
  --white: #fff;
  --blue: #295481;
}
.main {
  padding-top: 104px;
  position: relative;
}

@font-face {
  font-family: 'MuseoSansCyrillic';
  src: url('../fonts/museosanscyrl-500.woff2') format('woff2'),
       url('../fonts/museosanscyrl-500.woff') format('woff'),
       url('../fonts/museosanscyrl-500.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrillic';
  src: url('../fonts/museosanscyrl-700.woff2') format('woff2'),
       url('../fonts/museosanscyrl-700.woff') format('woff'),
       url('../fonts/museosanscyrl-700.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
.container {
  max-width: 1360px;
  margin: 0 auto;
  --bs-gutter-x: 0rem;
  width: 100%;

  @media (max-width: 1400px) {
    max-width: 1180px;
  }

  @media (max-width: 1200px) {
    max-width: 960px;
  }

  @media (max-width: 992px) {
    max-width: 750px;
  }

  @media (max-width: 768px) {
    max-width: 560px;
  }

  @media (max-width: 576px) {
    max-width: 100%;
    margin: 0 20px;
  }
}

