.bg__circle1 {
    position: absolute;
    max-width: 500px;
    top: 0;
    right: 0;
    z-index: -1;
}

.live {
    background: var(--grad-2, linear-gradient(241deg, #29817a 32.64%, #0d1457 151.86%));
    backdrop-filter: blur(2px);
    padding: 12px 0;
    margin-top: 3px;
    &__content {
        max-width: 960px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        gap: 0 10px;
        b {
            color: #000;
            font-variant-numeric: lining-nums tabular-nums;
            font-family: 'MuseoSansCyrillic', sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; 
            display: none;
            @media(max-width: 768px) {
                width: 100%;
                order: 1;
                text-align: center;
            }
            @media(max-width: 576px) {
                font-size: 18px;
            }
        }
        p {
            color: var(--grey, #7A7A7A);
            font-variant-numeric: lining-nums tabular-nums;
            font-family: "Source Sans 3", serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%; /* 21.6px */
            margin: 0 20px;
            display: none;
            @media(max-width: 768px) {
                display: none;
            }
        }

    }
    &__phone {
        display: flex;
        align-items: center;
        display: none;
        @media(max-width: 768px) {
            display: none;
        }
        b {
            color: #000;
            font-variant-numeric: lining-nums tabular-nums;
            font-family: "Source Sans 3", serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%; /* 21.6px */
            margin-left: 8px;
           
        }
    }
    &__diplom {
        color: #fff;
        text-align: center;
        font-variant-numeric: lining-nums tabular-nums;
        font-family: 'MuseoSansCyrillic', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        @media(max-width: 576px) {
            font-size: 14px;
        }
    }
    &__dop {
        display: flex;
        align-items: center;
        margin-left: 30px;
        cursor: pointer;
        @media(max-width: 768px) {
            
            order: 2;
        }
        svg {
            filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
        }
        span {
            font-variant-numeric: lining-nums tabular-nums;
            font-family: "Source Sans 3", serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%; /* 21.6px */
            color: #fff;
            @media(max-width: 576px) {
                font-size: 14px;
            }
        }
    }
}

.banner {
    padding: 25px 0;
    .container {
        display: flex;
        justify-content: space-between;
        height: 600px;
        @media(max-width: 992px) {
            flex-direction: column;
            height: auto;
        }
    }
    &__left {
        width: 68%;
        position: relative;
        @media(max-width: 992px) {
            width: 100%;
            height: 500px;
            margin-bottom: 12px;
        }
        @media(max-width: 576px) {
            height: 440px;
        }
    }
    &__inf {
        position: absolute;
        top: 45px;
        left: 45px;
        border-radius: 20px;
        background: rgba(250, 177, 48, 0.20);
        padding: 8px 16px;
        color: var(--gold, #FAB130);
        font-variant-numeric: lining-nums tabular-nums;
        font-family: "Source Sans 3", serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 19.2px */
        z-index: 1;
        @media(max-width: 576px) {
            font-size: 14px;
        }
    }
    &__inf2 {
        position: absolute;
        top: 24px;
        left: 24px;
        border-radius: 20px;
        background: rgba(158, 121, 57, 0.80);
        padding: 8px 16px;
        color: var(--black, #242624);
        font-variant-numeric: lining-nums tabular-nums;
        font-family: "Source Sans 3", serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 19.2px */
        z-index: 1;
        @media(max-width: 576px) {
            font-size: 14px;
        }
    }
    &__right {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media(max-width: 992px) {
            width: 100%;
        }
    }
    &__slide {
        position: relative;
        height: 100%;
        display: block;
        &:hover {
            .banner__info {
                b {
                    color: #FAB130;
                }
                p {
                    color: var(--gold, #FAB130);
                    background: linear-gradient(245deg, rgba(41, 129, 122, 0.56) -3.8%, rgba(13, 20, 87, 0.56) 103.21%);
                }
            }
            .banner__inf {
                color: #fff;
            }
        }
        &--img {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            filter: brightness(.5);
            img {
                border-radius: 32px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &__slider {
        height: 100%;
        .slick-list {
            height: 100%;
        }
        .slick-track {
            height: 100%;
        }
        .slick-arrow {
            position: absolute;
        }
        .slick-dots {
            position: absolute;
            bottom: 48px;
            right: 48px;
            display: flex;
            li {
                margin: 0 8px;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: #fff;
                cursor: pointer;

                position: relative;
                overflow: hidden;
                z-index: 0;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0%;
                    height: 100%;
                    
                    
                }
                &.slick-active {
                    width: 20px;
                    border-radius: 20px;
                    cursor: default;
                    background: #fff;
                    &::before {
                        width: 100%;
                        z-index: 2;
                        transition: width 2s linear;
                        background: linear-gradient(241deg, rgba(41, 129, 122) 32.64%, rgba(13, 20, 87) 151.86%);
                    }
                }
                button {
                    font-size: 0;
                }
            }
        }
    }
    &__info {
        padding: 48px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        p {
            border-radius: 20px;
            background: linear-gradient(241deg, rgba(41, 129, 122, 0.56) 32.64%, rgba(13, 20, 87, 0.56) 151.86%);
            padding: 8px 16px;
            color: var(--white, #FFF);
            font-variant-numeric: lining-nums tabular-nums;
            font-family: "Source Sans 3", serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%; /* 19.2px */
            display: block;
            margin-bottom: 30px;
            width: fit-content;
            @media(max-width: 576px) {
                font-size: 14px;
            }
        }
        b {
            max-width: 620px;
            color: #FFF;
            font-variant-numeric: lining-nums tabular-nums;
            font-family: 'MuseoSansCyrillic', sans-serif;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; 
            @media(max-width: 992px) {
                font-size: 36px;
            }
            @media(max-width: 576px) {
                font-size: 24px;
            }
        }
    }
    &__item {
        height: calc(50% - 12px);
        position: relative;
        cursor: pointer;
        @media(max-width: 992px) {
            height: 320px;
            margin-bottom: 12px;
        }
        @media(max-width: 576px) {
            height: 240px;
        }
        &:hover {
            .banner__inf2 {
                color: #fff;
                background: rgba(158, 121, 57, 0.80);
                @media(max-width: 576px) {
                    font-size: 14px;
                }
            }
            .banner__item--info {
                p {
                    background: linear-gradient(245deg, rgba(41, 129, 122, 0.56) -3.8%, rgba(13, 20, 87, 0.56) 103.21%);
                    color: var(--gold, #FAB130);
                }
                b {
                    color: #FAB130;
                }
            }
        }
        &--img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 24px;
                filter: brightness(.5);
            }
        }
        &--info {
            padding: 24px;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: end;
            p {
                border-radius: 20px;
                background: linear-gradient(245deg, rgba(41, 129, 122, 0.56) -3.8%, rgba(13, 20, 87, 0.56) 103.21%);
                color: var(--white, #FFF);
                font-variant-numeric: lining-nums tabular-nums;
                font-family: "Source Sans 3", serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 120%; /* 19.2px */
                padding: 8px 16px;
                width: fit-content;
                @media(max-width: 576px) {
                    font-size: 14px;
                }
            }
            b {
                color: var(--white, #FFF);
                font-variant-numeric: lining-nums tabular-nums;
                font-family: 'MuseoSansCyrillic', sans-serif;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 140%;
                @media(max-width: 1200px) {
                    font-size: 18px;
                }
                @media(max-width: 576px) {
                    max-height: 78px;
                    overflow-y: hidden;
                }
            }
        }
    }
}

.services {
    margin: 50px 0;
    @media(max-width: 576px) {
        margin: 30px 0;
    }
    &__top {
        margin-bottom: 30px;
        .small-width {
            display: flex;
            justify-content: space-between;
            align-items: center;
            a {
                span {
                    font-variant-numeric: lining-nums tabular-nums;
                    font-family: "Source Sans 3", serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 120%; /* 21.6px */
                    margin-right: 5px;
                }
            }
        }
    }
    &__items {
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        overflow-x: scroll;
        padding-bottom: 30px;
        &::-webkit-scrollbar {
            height: 4px;
            max-width: 200px;
            display: none;
        }
        &::-webkit-scrollbar-track {
            border-radius: 63px;
            background: rgba(255, 255, 255, 0.64);
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 63px;
            background: var(--grad-2, linear-gradient(241deg, #29817A 32.64%, #0D1457 151.86%));
        }
    }
    &__item {
        flex: 0 0 420px;
        margin-right: 20px;
       
        @media(max-width: 768px) {
            flex: 0 0 240px;
            height: 240px;
        }
    }
}

.news_block {
    position: relative;
}

.bg__circle2 {
    position: absolute;
    top: -200px;
    left: 0;
    max-width: 500px;
    width: 25%;
    z-index: -1;
    @media(max-width: 576px) {
        top: -400px;
        max-width: 600px;
        width: 100%;
    }
}

.news {
    padding: 60px 0;
    @media(max-width: 992px) {
        padding: 30px 0;
    }
    &__top {
        margin-bottom: 30px;
        a {
            .gradient-text {
                font-variant-numeric: lining-nums tabular-nums;
                font-family: "Source Sans 3", serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 120%; /* 21.6px */
            }
        }
    }
    &__item {
        width: calc(25% - 12px);
        border-radius: 24px;
        background: #FFF;
        @media(max-width: 992px) {
            flex: 0 0 300px;
            margin-right: 20px;
            
        }
        &:hover {
            .news__item--info p {
                background: var(--grad-2, linear-gradient(241deg, #29817A 32.64%, #0D1457 110.61%));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        &--img {
            height: 230px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 24px;
            }
        }
        &--info {
            padding: 24px;
            display: flex;
            flex-direction: column;
            span {
                color: var(--blue, #295481);
                font-variant-numeric: lining-nums tabular-nums;
                font-family: "Source Sans 3", serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 120%; /* 19.2px */
                display: block;
                margin-bottom: 8px;
            }
            p {
                color: var(--black, #242624);
                font-variant-numeric: lining-nums tabular-nums;
                font-family: 'MuseoSansCyrillic', sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 140%; /* 25.2px */
            }
        }
    }
    &__items {
        align-items: stretch;
        @media(max-width: 992px) {
            overflow-x: scroll;
            padding-bottom: 25px;
            &::-webkit-scrollbar {
                height: 4px;
                max-width: 200px;
            }
            &::-webkit-scrollbar-track {
                border-radius: 63px;
                background: rgba(255, 255, 255, 0.64);
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 63px;
                background: var(--grad-2, linear-gradient(241deg, #29817A 32.64%, #0D1457 151.86%));
            }
        }
    }
}

.mission {
    margin: 60px 0;
    height: 450px;
    @media(max-width: 992px){
        flex-direction: column-reverse;
        margin: 30px 0;
        height: auto;
    }
    @media(max-width: 576px) {
        padding-top: 30px;
    }
    &__left {
        width: calc(100% - 380px);
        border-radius: 32px;
        background: linear-gradient(245deg, #29817A -3.8%, #0D1457 103.21%);
        padding: 64px;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media(max-width: 992px) {
            width: 100%;
            padding: 30px;
        }
        @media(max-width: 576px) {
            padding: 20px;
        }
        svg {
            position: absolute;
            top: 64px;
            left: 64px;
            @media(max-width: 992px) {
                top: 30px;
                left: 30px;
            }
            @media(max-width: 576px) {
                top: 20px;
                left: 20px;
            }
        }

    }
    &__text {
        margin: 50px 0 0 80px;
        color: var(--white, #FFF);
        font-variant-numeric: lining-nums tabular-nums;
        font-family: "Source Sans 3", serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; 
        @media(max-width: 992px) {
            margin: 30px 0 0 60px;
        }
        @media(max-width: 576px) {
            margin: 50px 0 0 20px;
            font-size: 18px;
        }
    }
    &__img {
        width: 350px;
        height: 100%;
        @media(max-width: 992px) {
            width: 100%;
            margin-bottom: 12px;
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 32px;
        }
    }
    &__bot {
        margin-left: 80px;
        padding-bottom: 50px;
        @media(max-width: 1200px) {
            padding-bottom: 0;
            margin-top: 30px;
        }
        @media(max-width: 992px) {
            margin-left: 60px;
        }
        @media(max-width: 576px) {
            margin-left: 20px;
        }
        b {
            color: var(--white, #FFF);
            font-variant-numeric: lining-nums tabular-nums;
            font-family: 'MuseoSansCyrillic', sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; 
            @media(max-width: 576px) {
                font-size: 18px;
            }
        }
        p {
            color: var(--white, #FFF);
            font-variant-numeric: lining-nums tabular-nums;
            font-family: "Source Sans 3", serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%; 
            @media(max-width: 576px) {
                font-size: 16px;
            }
            
        }
    }
}

.export {
    padding: 60px 0;
    position: relative;
    @media(max-width: 992px) {
        padding: 35px 0;
    }
    &__bg {
        position: absolute;
        left: 0;
        top: -20px;
        z-index: -1;
        img {
            max-width: 500px;
        }
    }
    .small-width {
        display: flex;
        justify-content: space-between;
        @media(max-width: 768px) {
            flex-direction: column;
        }
    }
    &__title {
        max-width: 240px;
        @media(max-width: 768px) {
            width: 100%;
            max-width: unset;
            margin-bottom: 24px;
        }
    }
    &__items {
        width: 700px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
        @media(max-width: 768px) {
            width: 100%;
        }
        @media(max-width: 480px) {
            grid-template-columns: 1fr;
        }
    }
    &__item {
        border-radius: 24px;
        background: var(--white, #FFF);
        padding: 24px;
        @media(max-width: 480px) {
            padding: 20px;
        }
        b {
            font-variant-numeric: lining-nums tabular-nums;
            font-family: 'MuseoSansCyrillic', sans-serif;
            font-size: 64px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; /* 89.6px */
            margin-bottom: 15px;
            @media(max-width: 768px) {
                font-size: 52px;
            }
            @media(max-width: 576px) {
                font-size: 48px;
            }
        }
        p {
            color: var(--black, #242624);
            font-variant-numeric: lining-nums tabular-nums;
            font-family: 'MuseoSansCyrillic', sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%; 
            @media(max-width: 576px) {
                font-size: 16px;
            }
        }
    }
}

.events {
    height: 610px;
    background: var(--grad-2, linear-gradient(245deg, #29817A -3.8%, #0D1457 103.21%));
    position: relative;
    padding: 64px 0;
    position: relative;
    z-index: 1;
    @media(max-width: 992px) {
        padding: 30px 0;
        height: 570px;
    }
    @media(max-width: 576px) {
        height: 500px;
    }
    @media(max-width: 480px) {
        height: 450px;
    }
    &__bg {
        position: absolute;
        right: 0;
        top: 17px;
        z-index: -1;
        @media (max-width: 480px) {
            z-index: -1;
        }
        img {
            max-width: 400px;
            @media(max-width: 992px) {
                max-width: 300px;
            }
            @media(max-width: 576px) {
                max-width: 200px;
            }
            @media(max-width: 480px) {
                max-width: 140px;
            }
        }
    }
    &__title {
        color: var(--white, #FFF);
        font-variant-numeric: lining-nums tabular-nums;
        font-family: 'MuseoSansCyrillic', sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 44.8px */
        margin-bottom: 30px;
        @media(max-width: 992px) {
            font-size: 28px;       
        }
        @media(max-width: 576px) {
            font-size: 24px;   
            margin-bottom: 24px;    
        }
    }
    &__btns {
        margin-bottom: 35px;
        border-bottom: .5px solid #AAAAAA;
        padding-bottom: 18px;
        
        a {
            color: var(--white, #FFF);
            font-variant-numeric: lining-nums tabular-nums;
            font-family: "Source Sans 3", serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%; 
            @media(max-width: 480px) {
                width: 200px;   
            }
            @media (max-width: 576px) {
                font-size: 14px;
            }
            @media (max-width: 480px) {
                position: relative;
                top: -52px;
            }
            &:hover {
                color: var(--gold, #FAB130);
                svg {
                    filter: brightness(0) saturate(100%) invert(80%) sepia(81%) saturate(1942%) hue-rotate(328deg) brightness(95%) contrast(107%);
                }
            }
            svg {
                margin-bottom: -5px;
            }
        }
    }
    &__group {
        @media(max-width: 480px) {
            width: 300px; 
            display: flex;  
        }
        &--title {
            color: var(--light-grey, #B1B1B1);
            font-variant-numeric: lining-nums tabular-nums;
            font-family: 'MuseoSansCyrillic', sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%; /* 25.2px */
            margin-right: 20px;
            cursor: pointer;
            @media(max-width: 576px) {
                font-size: 16px;
            }
            &.active {
                color: var(--white, #FFF);
                font-variant-numeric: lining-nums tabular-nums;
                font-family: 'MuseoSansCyrillic', sans-serif;
                font-style: normal;
                font-weight: 600;
                line-height: 140%; /* 25.2px */
                position: relative;
                cursor: default;
                &::after {
                    content: '';
                    width: 100%;
                    position: absolute;
                    height: 4px;
                    border-radius: 8px 8px 0px 0px;
                    background: var(--gold, #FAB130);
                    bottom: -21px;
                    left: 0;
                }
            }
        }
    }
    &__top {
        position: relative;
        z-index: 2;
    }
    &__items {
        display: none;
        overflow-x: auto;
        max-width: 100%;
        padding-bottom: 32px;
        gap: 24px;
        &.active {
            display: flex;
        }
        &::-webkit-scrollbar {
            height: 4px;
            max-width: 200px;
        }
        &::-webkit-scrollbar-track {
            border-radius: 63px;
            background: rgba(255, 255, 255, 0.64);
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 63px;
            background: var(--grad-2, linear-gradient(241deg, #29817A 32.64%, #0D1457 151.86%));
        }
    }
    &__item {
        border-radius: 32px;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        flex: 0 0 590px;
        &:hover {
            .events__text {
                b {
                    background: var(--grad-2, linear-gradient(241deg, #29817a 32.64%, #0d1457 110.61%));
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                p {
                    background: var(--grad-2, linear-gradient(241deg, #29817a 32.64%, #0d1457 110.61%));
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
        @media(max-width: 992px) {
            flex: 0 0 520px;
        }
        @media(max-width: 768px) {
            flex: 0 0 460px;
        }
        @media (max-width: 480px) {
            flex: 0 0 350px;
        }
        &--img {
            width: 50%;
            height: 290px;
            @media(max-width: 768px) {
                height: 260px;
            }
            @media (max-width: 480px) {
                height: 200px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 32px;
            }
        }
    }
    &__text {
        width: 50%;
        padding: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (max-width: 480px) {
            padding: 12px;
        }
        span {
            font-variant-numeric: lining-nums tabular-nums;
            font-family: "Source Sans 3", serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%; /* 19.2px */
        }
        b {
            color: var(--black, #242624);
            font-variant-numeric: lining-nums tabular-nums;
            font-family: 'MuseoSansCyrillic', sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; /* 28px */
            margin: 10px 0;
            @media (max-width: 480px) {
                font-size: 18px;
                max-height: 135px;
            }
        }
        p {
            color: var(--black, #242624);
            font-variant-numeric: lining-nums tabular-nums;
            font-family: "Source Sans 3", serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%; 
            @media(max-width: 992px) {
                display: none;
            }
        }
    }
}

.partners {
    position: relative;
    padding: 60px 0 120px;
    overflow: hidden;
    @media(max-width: 992px) {
        padding: 45px 0 90px;
    }
    @media(max-width: 576px) {
        padding: 30px 0 60px;
    }
    &__bg {
        position: absolute;
        top: -100px;
        right: -200px;
        
        img {
            max-width: 500px;
        }
    }
    &__title {
        margin-bottom: 30px;
    }
    &__item {
        border-radius: 24px;
        background: #FFF;
        margin-right: 17px;
        height: 100px;
        padding: 8px 16px;
        display: flex !important;
        align-items: center;
        justify-content: center;
    }
}