@import 'normalize';
@import 'globals';
@import 'header';

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.main-title {
    color: var(--black, #242624);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: 'MuseoSansCyrillic', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; 
    @media(max-width: 1200px) {
        font-size: 34px;
    }
    @media(max-width: 768px) {
        font-size: 28px;
    }
    @media(max-width: 576px) {
        font-size: 24px;
    }
}

.small-width {
    padding: 0 70px;
    @media(max-width: 1200px) {
        padding: 0;
    }
    
}

.gradient-text {
    background: var(--grad-2, linear-gradient(241deg, #29817A 32.64%, #0D1457 151.86%));
    -webkit-background-clip: text; /* Применение фона к тексту */
    -webkit-text-fill-color: transparent; /* Прозрачный цвет текста */
}

.center-btw {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.breads {
    padding: 32px 0;
    display: flex;
    align-items: center;
    @media(max-width: 768px) {
        padding: 16px 0;
    }
    @media(max-width: 576px) {
        max-width: 100%;
        overflow-x: hidden;
    }
    &__prev {
        display: flex;
        align-items: center;
        a {
            color: var(--grey, #666) !important;
            font-variant-numeric: lining-nums tabular-nums;
            font-family: 'MuseoSansCyrillic', sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%; 
            @media(max-width: 576px) {
                font-size: 12px;
            }
        }
    }
    a {
        color: var(--light-grey, #B1B1B1);
        font-variant-numeric: lining-nums tabular-nums;
        font-family: 'MuseoSansCyrillic', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; 
        @media(max-width: 576px) {
            font-size: 12px;
        }
    }
    span {
        color: var(--black, #242624);
        font-variant-numeric: lining-nums tabular-nums;
        font-family: 'MuseoSansCyrillic', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; 
        @media(max-width: 576px) {
            font-size: 12px;
            white-space: nowrap;
        }
    }
    svg {
        margin: 0 8px;
        @media(max-width: 576px) {
            margin: 0 5px;
        }
    }
}

.big-title {
    color: #000;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: 'MuseoSansCyrillic', sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; 
    @media(max-width: 992px) {
        font-size: 38px;
    }
    @media(max-width: 768px) {
        font-size: 32px;
    }
    @media(max-width: 576px) {
        font-size: 24px;
    }
}

.main-service {
    border-radius: 24px;
    background: var(--white, #FFF);
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 290px;
    &__icon {
        width: 56px;
        height: 56px;
        border-radius: 16px;
        background: var(--grad-2, linear-gradient(245deg, #29817A -3.8%, #0D1457 103.21%));
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__text {
        p {
            display: none;
        }
        b {
            color: var(--black, #242624);
            font-variant-numeric: lining-nums tabular-nums;
            font-family: 'MuseoSansCyrillic', sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; /* 28px */
        }
    }
    &:hover {
        border-radius: 24px;
        background: linear-gradient(226deg, #29817A -6.59%, #0D1457 103.42%);
        .main-service {
            &__icon {
                background: #fff;
                img {
                    filter: brightness(0) saturate(100%) invert(29%) sepia(14%) saturate(2407%) hue-rotate(170deg) brightness(93%) contrast(87%);
                }
            }
            &__text {
                b {
                    display: none;
                }
                p {
                    display: block;
                    color: var(--white, #FFF);
                    font-variant-numeric: lining-nums tabular-nums;
                    font-family: "Source Sans 3", serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 120%; /* 21.6px */
                }
            }
        }
    }
}

.main-tabs {
    margin: 45px 0;
    display: flex;
    align-items: center;
    &::-webkit-scrollbar {
        height: 4px;
        max-width: 200px;
    }
    &::-webkit-scrollbar-track {
        border-radius: 63px;
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 63px;
        background: transparent;
    }
    @media(max-width: 992px) {
        margin: 35px 0;
    }
    @media(max-width: 768px) {
        margin: 28px 0;
    }
    @media(max-width: 576px) {
        margin: 24px 0;
    }
    &__title {
        border-radius: 16px;
        background: var(--white, #FFF);
        margin-right: 12px;
        padding: 12px 24px;
        color: var(--black, #242624);
        font-variant-numeric: lining-nums tabular-nums;
        font-family: "Source Sans 3", serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 19.2px */
        cursor: pointer;
        @media(max-width: 576px) {
            font-size: 14px;
        }
        &.active {
            background: var(--grad-2, linear-gradient(241deg, #29817A 32.64%, #0D1457 151.86%));
            color: #fff;
            cursor: default;
        }
    }
}

.event-type {
    display: flex;
    justify-content: space-between;
    border-radius: 32px;
    background: #FFF;
    width: calc(50% - 12px);
    height: 290px;
    margin-bottom: 32px;
    &:hover {
        .event-type__info {
            p {
                color: #FAB130;
            }
            b {
                color: #FAB130;
            }
        } 
    }
    @media(max-width: 992px) {
        width: 100%;
    }
    @media(max-width: 480px) {
        height: 420px;
        flex-direction: column;
    }
    &__info {
        width: 50%;
        padding: 24px;
        display: flex;
        flex-direction: column;
        @media(max-width: 1200px) {
            padding: 18px;
        }
        @media(max-width: 480px) {
            width: 100%;
        }
        span {
            font-variant-numeric: lining-nums tabular-nums;
            font-family: "Source Sans 3", serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%; 
            @media(max-width: 480px) {
                font-size: 14px;
            }
        }
        b {
            display: block;
            color: var(--black, #242624);
            font-variant-numeric: lining-nums tabular-nums;
            font-family: 'MuseoSansCyrillic', sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; /* 28px */
            margin: 12px 0;
            @media(max-width: 1200px) {
                font-size: 18px;
                margin: 8px 0;
            }
            @media(max-width: 480px) {
                font-size: 18px;
            }
        }
        p {
            color: var(--black, #242624);
            font-variant-numeric: lining-nums tabular-nums;
            font-family: "Source Sans 3", serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            height: 110px;
            overflow-y: hidden;
            @media(max-width: 480px) {
                font-size: 16px;
            }
        }
    }
    &__img {
        width: 50%;
        @media(max-width: 480px) {
            width: 100%;
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 32px;
            @media(max-width: 480px) {
                border-radius: 20px;
                max-height: 200px;
            }
        }
    }
}

.forbg {
    position: relative;
}

.bgtype {
    position: absolute;
    z-index: -1;
}

.modaltype {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    display: none;
    &.show {
        display: block;
    }
    &__content {
        position: absolute;
        border-radius: 24px;
        background: var(--white, #FFF);
        left: 50%;
        transform: translateX(-50%);
        padding: 32px;
        z-index: 202;
        top: 10%;
       
        @media(max-width: 576px) {
            padding: 16px;
        }
    }
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
        @media(max-width: 576px) {
            margin-bottom: 16px;
        }
        b {
            color: var(--black, #242624);
            font-variant-numeric: lining-nums tabular-nums;
            font-family: 'MuseoSansCyrillic', sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; /* 28px */
        }
        img {
            cursor: pointer;
        }
    }
    &__form1 {
        display: flex;
        flex-direction: column;
    }
    &__form2 {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media(max-width: 768px) {
            flex-direction: column;
        }
    }
    &__item {
        width: calc(50% - 8px);
        display: flex;
        flex-direction: column;
        @media(max-width: 768px) {
            width: 100%;
        }
        label {
            display: flex;
            height: 50px;
            align-items: center;
        }
        a {
            display: flex;
            align-items: center;
            height: 50px;
            span {
                color: var(--grey, #7A7A7A);
                font-variant-numeric: lining-nums tabular-nums;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%; 
                margin-left: 8px;
            }
        }
    }
    &__btn {
        width: 100%;
        border-radius: 16px;
        background: var(--grad-2, linear-gradient(241deg, #29817A 32.64%, #0D1457 110.61%));
        padding: 16px 24px;
        color: var(--white, #FFF);
        font-variant-numeric: lining-nums tabular-nums;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; 
        margin-top: 24px;
        @media(max-width: 576px) {
            font-size: 14px;
            margin-top: 12px;
            padding: 14px 12px;
        }
        &:hover {
            background: linear-gradient(242deg, #29817A -65.93%, #0D1457 151.47%);
        }
    }
    &__file {
        display: flex;
        align-items: center;
        cursor: pointer;
        input {
            display: none;
        }
        svg {
            width: 20px;
            margin-right: 8px;
        }
        span {
            color: var(--grey, #7A7A7A);
            font-variant-numeric: lining-nums tabular-nums;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%; 
            @media(max-width: 576px) {
                font-size: 14px;
            }
        }
    }
}

.modal__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.3;
    z-index: 201;
}

.modal .modal__content, .modal4 .modal__content {
    width: 410px;
    @media(max-width: 576px) {
        width: 90%;
    }
} 

.modal2 .modal__content, .modal3 .modal__content {
    width: 760px;
   
    @media(max-width: 768px) {
        width: 90%;
    }
}

.input-type {
    border-radius: 16px;
    background: rgba(225, 225, 225, 0.32);
    margin-bottom: 8px;
    height: 50px;
    padding: 12px 16px;
    color: var(--grey, #7A7A7A);
    font-variant-numeric: lining-nums tabular-nums;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    @media(max-width: 576px) {
        height: 40px;
        margin-bottom: 5px;
        font-size: 14px;
        padding: 10px 12px;
    }
    &::placeholder {
        color: var(--grey, #7A7A7A);
        font-variant-numeric: lining-nums tabular-nums;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; 
        @media(max-width: 576px) {
            font-size: 14px;
        }
    }
}

.textarea-type {
    border-radius: 16px;
    background: rgba(225, 225, 225, 0.32);
    height: 90px;
    padding: 12px 16px;
    color: var(--grey, #7A7A7A);
    font-variant-numeric: lining-nums tabular-nums;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    @media(max-width: 576px) {
        font-size: 14px;
        height: 45px;
    }
    &::placeholder {
        color: var(--grey, #7A7A7A);
        font-variant-numeric: lining-nums tabular-nums;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; 
        @media(max-width: 576px) {
            font-size: 14px;
        }
    }
}

.lang {
    position: relative;
    cursor: pointer;
    &:hover {
        .lang__drop {
            display: block;
        }
    }
    &__current {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .dropy2 {
            display: none;
        }
        .world2 {
            display: none;
        }
        span {
            margin: 0 3px 0 8px;
            color: var(--light-grey, #B1B1B1);
            font-variant-numeric: lining-nums tabular-nums;
            font-family: "Source Sans 3", serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%; /* 19.2px */
        }
    }
    &__hidden {
        position: absolute;
        width: 100%;
    }
    &__drop {
        position: absolute;
        border-radius: 24px;
        background: var(--white, #FFF);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 24px;
        display: none;
        span {
            font-variant-numeric: lining-nums tabular-nums;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
            background: var(--grad-2, linear-gradient(241deg, #29817A 32.64%, #0D1457 110.61%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: block;
            margin-bottom: 8px;
            cursor: default;
        }
        a {
            color: var(--black, #242624);
            font-variant-numeric: lining-nums tabular-nums;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%; /* 19.2px */
            text-transform: capitalize;
            margin-bottom: 8px;
            display: block;
        }
    }
}

.thanks {
    display: none;
    &.open {
        display: block;
    }
    &__wrapper {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.6;
        z-index: 201;
    }
    &__content {
        padding: 60px 32px 32px 32px;
        width: 530px;
        height: 220px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: calc(50% - 110px);
        @media(max-width: 576px) {
            width: 90%;
        }
        b {
            color: var(--black, #242624);
            font-variant-numeric: lining-nums tabular-nums;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; 
            font-family: 'MuseoSansCyrillic', sans-serif;
            display: block;
            margin-bottom: 16px;
            @media(max-width: 576px) {
                font-size: 18px;
                text-align: center;
            }
        }
        p {
            color: var(--black, #242624);
            text-align: center;
            font-variant-numeric: lining-nums tabular-nums;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%; 
            @media(max-width: 576px) {
                font-size: 16px;
                text-align: center;
            }
        }
    }
    &__close {
        position: absolute;
        top: 32px;
        right: 32px;
        cursor: pointer;
    }

}

.desk992 {
    @media(max-width: 992px) {
        display: none;
    }
}

.mob992 {
    display: none;
    @media(max-width: 992px) {
        display: block;
    }
}

.desk576 {
    &.future__down--btn {
        @media(max-width: 576px) {
            display: none;
        }
    }
    @media(max-width: 576px) {
        display: none;
    }
}

.mob576 {
    display: none;
    &.future__down--btn {
        display: none;
        @media(max-width: 576px) {
            display: flex;
        }
    }
    
}